body {
    text-align: center;
    font-family: 'Poiret One', cursive;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

a,a:hover {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
}

.header img {
    width: 70%;
}

.header .title {
    margin-top: 1%;
    font-size: 55px;
}

.header .sub-title {
    font-size: 30px;
    font-weight: normal;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.social-networks {
    margin-top: 1%;
    font-size: 21px;
}

.social-networks li {
    text-align: left;
    list-style: none;
}

.social-networks img {
    padding: 5px;
}
